@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply text-white px-4 py-2 rounded;
	}

	.btn:focus {
		@apply outline-none shadow-outline;
	}

	.btn-sm {
		@apply px-2 py-1;
	}

	.btn-blue {
		@apply bg-blue-500;
	}

	.btn-blue:hover {
		@apply bg-blue-700;	
	}

	.btn-red {
		@apply bg-red-500;
	}

	.btn-red:hover {
		@apply bg-red-700;
	}

	.btn-green {
		@apply bg-green-500;
	}

	.btn-green:hover {
		@apply bg-green-700;
	}

	.btn-secondary {
		@apply bg-gray-600;
	}

	.btn-secondary:hover {
		@apply bg-gray-700;
	}

	.form-label {
		@apply block text-gray-700 text-sm font-bold mb-2;
	}

	.form-input {
		@apply block border border-gray-300 rounded-lg py-2 px-4 w-full;
	}

	.form-input:focus {
		@apply outline-none shadow-outline;
	}

	.error {
		@apply text-red-500 text-sm mt-2;
	}

	.alert {
		@apply border p-4 rounded;
	}

	.alert-danger {
		@apply bg-red-100 border-red-400 text-red-700;
	}

	.alert-success {
		@apply bg-green-100 border-green-400 text-green-700;
	}

	.alert-warning {
		@apply bg-yellow-100 border-yellow-400 text-yellow-700;
	}
}

@layer utilities {
	.scroll-smooth {
		scroll-behavior: smooth;
	}
}

.router-view-enter-active, .router-view-leave-active {
	transition: opacity .5s;
}

.router-view-enter, .router-view-leave-to {
	opacity: 0;
}